body {
  background-color: #3f3f3f;

  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: rgb(109, 106, 102);
  border: solid black 5px;
}
